@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #190b1f !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    @apply text-xl tracking-tight leading-relaxed;
  }
  h2 {
    @apply text-xl md:text-4xl;
  }
  span {
    @apply text-purple-600;
  }
}
